.principal {
  width: 100vw;
  height: 100vh;
  background: var(--background2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo {
}
.circulo::after {
  position: absolute;
  content: var(--content);
  font-size: 1.2rem;
  display: block;
  color: #fff;
  text-align: center;
}

@keyframes spinner {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
