.principal {
  width: 100vw;
  height: 100vh;
  background: var(--background2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo {
  width: 150px;
  height: 150px;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 10px solid var(--secondary-color);
  animation: spinner 1s infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(700deg);
  }
}

@media (max-width: 500px) {
  .circulo {
    width: 80px;
    height: 80px;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 6px solid var(--secondary-color);
    animation: spinner 1s infinite;
  }
}
