.content {
  width: 60vw;
  height: 100%;
  margin: 5rem auto;
}

.page-description h2 {
  font-family: 'Barlow';
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--text-color1);
}

.page-description p {
  font-family: 'Barlow';
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--text-color3);
  line-height: 2;
}

.project {
  width: 90%;
  position: relative;
  height: 300px;
  margin: 10px;
  box-shadow: var(--darkShadow), 0 0 50px rgb(0 0 0 / 75%) inset;
  margin-bottom: 2rem;
  background: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.project a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  top: 50%;
  width: 200px;
  height: 40px;
  font-family: Poppins;
  background: var(--primary-variant);
  z-index: 200;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--text-color2);
  box-shadow: var(--darkShadow);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.project .main-image {
  min-width: 100%;
  min-height: 100%;
}
.project .main-image img {
  width: 100%;
  height: 100%;
}

.project .image1 {
  width: 100%;
  position: absolute;
  height: 100%;
  transform: translateY(-300px);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  filter: grayscale(80%) blur(1px);
  box-shadow: 0 0 50px rgb(0 0 0 / 75%) inset;
}
.project .image2 {
  box-shadow: 0 0 50px rgb(0 0 0 / 75%) inset;
}

.project:hover .image1 {
  width: 100%;
  position: absolute;
  height: 100%;
  box-shadow: var(--darkShadow);
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transform: translateY(0px);
  transition: all 0.2s ease-in-out;
}
.project:hover a {
  opacity: 1;
}
.project .name {
  position: absolute;
  text-align: center;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--secondary-color);
  height: 2rem;
  box-shadow: 0 0 30px rgb(0, 0, 0, 100%);
}
.project .name h3 {
  font-size: 1.2rem;
  font-family: Poppins;
  width: 100%;
  letter-spacing: 2px;
}

@media (max-width: 800px) {
  .content {
    width: 90vw;
    margin: auto auto;
    height: 100%;
  }
  .project {
    width: 90vw;
  }
  .page-description {
    padding: 0px 10px;
    min-width: 90vw;
  }
}

@media (max-width: 500px) {
  .content {
    width: 100vw;
    margin: auto auto;
    height: 100%;
  }

  .project {
    width: 90vw;
  }
  .page-description h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .page-description p {
    font-size: 1rem;

    margin-bottom: 20px;
  }
  .page-description {
    padding: 0px 20px;
  }
}
