.socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  left: 0;
  bottom: 90px;
  z-index: 10;
  margin-top: -200px;
}

@keyframes anime {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}

.socials li {
  width: 75px;
  height: 57px;
  margin-left: -25px;
  background-color: blue;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 425ms cubic-bezier(0.05, 0.65, 0.18, 1);
}

.socials .instagram {
  background: radial-gradient(
      circle at 25% 110%,
      #fdf497 0,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    ),
    radial-gradient(
      circle at 25% 110%,
      #b9a800 0,
      #938500 5%,
      #b10f00 45%,
      #8c0061 60%,
      #002ca9 90%
    );
  animation: anime 1.8s ease-in-out;
}
.socials .instagram a span,
.socials .linkedin a span,
.socials .github a span {
  display: block;
  width: 35px;
  height: 35px;
  margin-left: 20px;
}

.socials .instagram a span {
  background: url('../../../public/icons/instagram.svg');
  background-size: 100% auto;
}
.socials .linkedin a span {
  background: url('../../../public/icons/linkedin.svg');
  background-size: 100% auto;
}
.socials .github a span {
  background: url('../../../public/icons/github.svg');
  background-size: 100% auto;
}
.socials .linkedin {
  background: var(--text-linkedin);
  animation: anime 1.9s ease-in-out;
}
.socials .github {
  background: var(--primary-color);
  animation: anime 2s ease-in-out;
}
.socials li:hover {
  margin-left: 0px;
}

@media (max-width: 500px) {
  .socials {
    display: flex;
    gap: 0px;
    flex-direction: row;
    margin-top: 70px;
    position: fixed;
  }
  .socials li {
    width: 50px;
    height: 50px;
    margin-left: 0px;
  }
  .socials .instagram a span,
  .socials .linkedin a span,
  .socials .github a span {
    margin-left: 0px;
  }
}
